.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  /* conflation in spec. says display is flush with sides but there is padding in visual. I think this is appropriate compromise */
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1358px) {
  .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}